dist
.claude

#General
#-------------------------------------------------------------------------------
node_modules
*.tsx
yarn.lock
.vscode
.idea

#OSX
#-------------------------------------------------------------------------------
.DS_STORE
